
.textbox-code {
  width: 100%;
  height: 70vh;
}
.textbox-input {
  width: 100%;
  height: 20vh;
}
.textbox-output {
  width: 100%;
  height: 20vh;
}
.textbox-run {
  width: 100%;
  height: 40vh;
}
textarea {
    resize: none;
}


/* BUTTON */
@import url(https://fonts.googleapis.com/css?family=Raleway:700);

.button-run {
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background: #111;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 100px;
  padding: .9em 1.2em;
  color: #00000077;
  text-align: center;
  font:  'Raleway', sans-serif;
  letter-spacing: 2px;
  background: #b0c4de;
  cursor: pointer;
/*   transition: .57s cubic-bezier(.42,.67,.13,1.57); */
  transition: .7s cubic-bezier(.65,.69,.35,1.27);
}

.btn:hover{
  box-shadow: 0 0 20px #7df9ff;
  background: #00ffef;
  animation: jiggle 1.7s ease-in;
  animation-iteration-count: 1;
}
@keyframes jiggle {
  38%, 52% {
    transform: scale(1.0, 1.0)
  }
  40% {
    transform: scale(1.1, 0.9)
  }
  46% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  49% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

@keyframes up {
  0% {
  opacity: 0;
  transform: translateY(-100px);
  }
  100% {
  opacity: 1;
  transform: translateY(0);
  }
}

/* Generic styling */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}